<p>
  <h4><%= locals[:title] %></h4>
  Auteur: <%= locals[:author_name] %>
  <br />
  Mail de l'auteur: <%= locals[:author_email] %>
  <br />
  Lieu: <%= locals[:where] %>
  <br />
  Date de début: <%= locals[:start_time] %>
  <br />
  Date de fin: <%= locals[:end_time] %>
  <br />
  Description:
  <br />
  <%= locals[:content] %>
</p>
<br />